<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridex - Rent your favourite car</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/share.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
  
      <div class="overlay" data-overlay></div>
  
      <a href="#" class="logo">
        <h2 style="color: hsl(204, 76%, 55%);">SheShare Dream Destinations</h2>
      </a>
  
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
  
          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>
  
          <li>
            <a href="#safety" class="navbar-link" data-nav-link>Safety</a>
          </li>
  
          <li>
            <a href="#featured-car" class="navbar-link" data-nav-link>Adventure</a>
          </li>
  
          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Community</a>
          </li>
  
        </ul>
      </nav>
  
      <div class="header-actions">
  
        <div class="header-contact">
          <a href="tel:88002345678" class="contact-link">8 800 234 56 78</a>
          <span class="contact-time">Mon - Sat: 9:00 am - 6:00 pm</span>
        </div>
  
        <a href="./view/register.html" class="btn register-btn" aria-labelledby="aria-label-txt">
          <ion-icon name="car-outline"></ion-icon>
          <span id="register-label">Register</span>
        </a>
  
        <a href="./view/login.html" class="btn user-btn" aria-label="Profile">
          <ion-icon name="person-outline"></ion-icon>
        </a>
  
        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>
  
      </div>
  
    </div>
  </header>





    <main>
        <article>

            <!-- 
        - #HERO
      -->







            <!-- 
        - #FEATURED CAR
      -->

     




      <section class="section featured-car" id="featured-car">
        <div class="container">

          <div class="title-wrapper" style="margin-top: 40px;">
            <h2 class="h2 section-title">Rent a Room On Good Price</h2>

            <a href="./view/rent.html" class="featured-car-link">
              <span>View more</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
          </div>

          <ul class="featured-car-list">

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://articles-1mg.gumlet.io/articles/wp-content/uploads/2023/07/Monsoon-2.jpg?compress=true&quality=80&w=700&dpr=2.6" alt="Toyota RAV4 2021" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">New York City, New York</a>
                    </h3>

                    <data class="year" value="2021">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$440</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://thumbs.dreamstime.com/b/rear-view-image-woman-do-stretching-waking-up-morning-looking-beautiful-nature-view-outside-bedroom-window-184176553.jpg" alt="BMW 3 Series 2019" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Los Angeles, California</a>
                    </h3>

                    <data class="year" value="2019">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$350</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://media.istockphoto.com/id/1151357999/photo/beautiful-woman-laying-and-enjoying-breakfast-in-bed.jpg?s=612x612&w=0&k=20&c=vvu09PfKJ5VeL6DFI6PqxO27aLmNWNqC9rM7hV4PIGo=" alt="Volkswagen T-Cross 2020" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Chicago, Illinois</a>
                    </h3>

                    <data class="year" value="2020">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$400</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://www.mydomaine.com/thmb/N-l2pSSvQD-7kO_1FbwosaU9134=/2500x0/filters:no_upscale():strip_icc()/nile-johnson-one-room-challenge-b73cf71bd74749ad9dafe203c8049a3e.jpeg" alt="Cadillac Escalade 2020" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Houston, Texas</a>
                    </h3>

                    <data class="year" value="2020">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$620</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://media.cnn.com/api/v1/images/stellar/prod/210730124219-dormdecorlead.jpg?q=w_2500,h_1407,x_0,y_0,c_fill" alt="BMW 4 Series GTI 2021" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Philadelphia, Pennsylvania</a>
                    </h3>

                    <data class="year" value="2021">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$530</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="https://hatil.com/blog/wp-content/uploads/2022/02/choose-a-unique-rustic-style.jpg" alt="BMW 4 Series 2019" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Phoenix, Arizona</a>
                    </h3>

                    <data class="year" value="2019">2024</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">4 People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="car-sport-outline"></ion-icon>

                      <span class="card-item-text">Private Parking</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="bed-outline"></ion-icon>

                      <span class="card-item-text">Extra Comfort</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="wifi-outline"></ion-icon>

                      <span class="card-item-text">Wifi Zone</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$490</strong> / month
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                                       <a href="/view/rentForm.html"><button class="btn">Rent now</button></a>


                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>



        </article>
    </main>





    <!-- 
    - #FOOTER
  -->

    <footer class="footer">
        <div class="container">

            <div class="footer-top">

                <div class="footer-brand">
                    <a href="#" class="logo">
                        <img src="../assets/images/logo.svg" alt="Ridex logo">
                    </a>

                    <p class="footer-text">
                        Search for cheap rental cars in New York. With a diverse fleet of 19,000 vehicles, Waydex offers
                        its
                        consumers an
                        attractive and fun selection.
                    </p>
                </div>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Company</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Pricing plans</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Our blog</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contacts</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Support</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Help center</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Ask a question</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Privacy policy</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms & conditions</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Neighborhoods in New York</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Manhattan</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Central New York City</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Upper East Side</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Queens</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Theater District</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Midtown</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">SoHo</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Chelsea</a>
                    </li>

                </ul>

            </div>

            <div class="footer-bottom">

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-skype"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="mail-outline"></ion-icon>
                        </a>
                    </li>

                </ul>

                <p class="copyright">
                    &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
                </p>

            </div>

        </div>
    </footer>





    <!-- 
    - custom js link
  -->
    <script src="../assets/js/script.js"></script>
    <script>
         function submitForm() {
            // Get form data
            const formData = new FormData(document.getElementById('roomForm'));
            const jsonData = {};

            // Convert FormData to JSON
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            // Make POST request to API
            fetch('http://localhost:3000/rent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Data submitted successfully');
                    // Optionally, you can reset the form after successful submission
                    document.getElementById('roomForm').reset();
                } else {
                    console.error('Failed to submit data');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>