<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridex - Rent your favourite car</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/share.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
  
      <div class="overlay" data-overlay></div>
  
      <a href="#" class="logo">
        <h2 style="color: hsl(204, 76%, 55%);">SheShare Dream Destinations</h2>
      </a>
  
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
  
          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>
  
          <li>
            <a href="#safety" class="navbar-link" data-nav-link>Safety</a>
          </li>
  
          <li>
            <a href="#featured-car" class="navbar-link" data-nav-link>Adventure</a>
          </li>
  
          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Community</a>
          </li>
  
        </ul>
      </nav>
  
      <div class="header-actions">
  
        <div class="header-contact">
          <a href="tel:88002345678" class="contact-link">8 800 234 56 78</a>
          <span class="contact-time">Mon - Sat: 9:00 am - 6:00 pm</span>
        </div>
  
        <a href="./view/register.html" class="btn register-btn" aria-labelledby="aria-label-txt">
          <ion-icon name="car-outline"></ion-icon>
          <span id="register-label">Register</span>
        </a>
  
        <a href="./view/login.html" class="btn user-btn" aria-label="Profile">
          <ion-icon name="person-outline"></ion-icon>
        </a>
  
        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>
  
      </div>
  
    </div>
  </header>





    <main>
        <article>

            <!-- 
        - #HERO
      -->







            <!-- 
        - #FEATURED CAR
      -->

      <section class="section featured-car" id="featured-car" style="margin-top: 200;">
        <div class="container01">
            <header>Rent a Rooms On Good Price</header>
            <form id="roomForm">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personal Details</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>Full Name</label>
                                <input type="text" name="fullName" placeholder="Enter your name" required>
                            </div>
                            <div class="input-field">
                                <label>Date of Birth</label>
                                <input type="date" name="dob" placeholder="Enter birth date" required>
                            </div>
                            <div class="input-field">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-field">
                                <label>Mobile Number</label>
                                <input type="tel" name="mobileNumber" placeholder="Enter mobile number" required>
                            </div>
                            <div class="input-field">
                                <label>Nationality</label>
                                <input type="text" name="nationality" placeholder="Enter your nationality" required>
                            </div>
                            <div class="input-field">
                                <label>Occupation</label>
                                <input type="text" name="occupation" placeholder="Enter your occupation" required>
                            </div>
                        </div>
                    </div>
                    <div class="details ID">
                        <span class="title">Rooms Details</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>CheckIn Date</label>
                                <input type="date" name="checkInDate" placeholder="Enter check-in date" required>
                            </div>
                            <div class="input-field">
                                <label>CheckOut Date</label>
                                <input type="date" name="checkOutDate" placeholder="Enter check-out date" required>
                            </div>
                            <div class="input-field">
                                <label>Destination</label>
                                <input type="text" name="destination" placeholder="Enter destination" required>
                            </div>
                        </div>
                    </div>
                    <div class="details ID">
                        <span class="title">Profile</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>Interest</label>
                                <input type="text" name="interest" placeholder="Enter your interests" required>
                            </div>
                            <div class="input-field">
                                <label>Hobbies</label>
                                <input type="text" name="hobbies" placeholder="Enter your hobbies" required>
                            </div>
                            <div class="input-field">
                                <label>Smoker</label>
                                <select name="smoker" required>
                                    <option disabled selected>Smoking</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="details ID">
                        <span class="title">Share Your Story</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>Say About Yourself</label>
                                <input type="text" name="aboutYourself" placeholder="Tell us about yourself" required>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btnText" onclick="submitForm()" style="background-color: hsl(204, 100%, 62%); padding: 10px 10px; border-radius: 10px; color: aliceblue;">Submit</button>

        </div>
    </section>



        </article>
    </main>





    <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" alt="Ridex logo">
          </a>

          <p class="footer-text">
            Search for cheap rental Rooms in New York. With a diverse fleet of 19,000 Rental, Waydex offers its
            consumers an
            attractive and fun selection.
          </p>
        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">SheShare</p>
          </li>

          <li>
            <a href="#" class="footer-link">About us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Careers</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Follow Us</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Support</p>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ's</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cancellation policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & conditions</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Become a Host</p>
          </li>

          <li>
            <a href="#" class="footer-link">Hoisting Resource</a>
          </li>

          <li>
            <a href="#" class="footer-link">Hoisting Resposibility</a>
          </li>

          <li>
            <a href="#" class="footer-link">Share a Room</a>
          </li>

          <li>
            <a href="#" class="footer-link">Pets</a>
          </li>

          <li>
            <a href="#" class="footer-link">Theater District</a>
          </li>

          <li>
            <a href="#" class="footer-link">Midtown</a>
          </li>

          <li>
            <a href="#" class="footer-link">SoHo</a>
          </li>

          <li>
            <a href="#" class="footer-link">Chelsea</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-skype"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="mail-outline"></ion-icon>
            </a>
          </li>

        </ul>

        <p class="copyright">
          &copy; 2022 <a href="#">IzanStark</a>. All Rights Reserved
        </p>

      </div>

    </div>
  </footer>





    <!-- 
    - custom js link
  -->
  <script src="../assets/js/script.js"></script>

    <script>
         function submitForm() {
            // Get form data
            const formData = new FormData(document.getElementById('roomForm'));
            const jsonData = {};

            // Convert FormData to JSON
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            // Make POST request to API
            fetch('http://localhost:3000/rent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Data submitted successfully');
                    // Optionally, you can reset the form after successful submission
                    document.getElementById('roomForm').reset();
                } else {
                    console.error('Failed to submit data');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>